.weather-description-container {
  display: flex;
  padding: 0 0.2em;
  align-items: center;
  justify-content: center;
  width: 50%;

  img {
    border-radius: 50%;
    background-color: rgb(118, 146, 230);
    margin-left: 0.5em;
    height: 64px;
    width: auto;
  }
}

.desc {
  padding-left: 0.6em;
}
