.current-weather-container {
  padding: 0.2em;
  width: 100%;
}

.current-weather-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8eff3;
}
.current-weather-time-desc {
  display: flex;
  align-self: start;
  width: 100%;
}

.current-weather-details {
  width: 100%;
  margin-top: 2em;
  display: grid;
  row-gap: 1em;
  justify-content: space-around;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid aliceblue;
  border-radius: 5px;
}

@media screen and (min-width: 800px) {
  .current-weather-container {
    padding: 0.2em;
    width: 50%;
    margin-left: 25%;
  }
  .current-weather-details {
    margin-top: 0;
    padding: 2em 0.2em;
  }

  .current-weather-time-desc {
    justify-content: space-around;
    align-items: center;
    align-self: center;
  }

  .current-weather-icon-container {
    flex-direction: row;
    padding: 2em 1em;
    align-items: center;
    justify-content: center;
  }
}
