.daily-weather-grid-container {
  display: grid;
  background-color: #555;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
}

.daily-weather-item {
  display: flex;
  flex-direction: column;
  margin-top: 0.4em;
}

.daily-weather-time {
  background-color: #1582b4;
  font-size: 1.1em;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.daily-weather-icons {
  display: flex;
  padding: 0.5em 0;
  background-color: aliceblue;
  > div {
    border-left: 1px solid #ccc;
  }
  div:first-child {
    border: none;
  }
}

@media screen and (min-width: 800px) {
  .daily-weather-grid-container {
    width: 70%;
    margin-left: 15%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .daily-weather-icons {
    border: 1px solid #444;
    border-radius: 5px;
  }
  .daily-weather-time {
    border: 1px solid #444;
    border-radius: 5px;
  }
}
